In [ ]:
import pandas as pd

calories = pd.read_csv('../Dataset/calories.csv')
exercise = pd.read_csv('../Dataset/exercise.csv')
df = pd.merge(exercise, calories, on = 'User_ID')
#Mapper male til 1 og kvinder til 0 for at spare data
df['Gender'] = df['Gender'].map({'male': 1, 'female': 0})
df = df.reset_index()
df.head()

,index,User_ID,Gender,Age,Height,Weight,Duration,Heart_Rate,Body_Temp,Calories
0,0,14733363,1,68,190.0,94.0,29.0,105.0,40.8,231.0
1,1,14861698,0,20,166.0,60.0,14.0,94.0,40.3,66.0
2,2,11179863,1,69,179.0,79.0,5.0,88.0,38.7,26.0
3,3,16180408,0,34,179.0,71.0,13.0,100.0,40.5,71.0
4,4,17771927,0,27,154.0,58.0,10.0,81.0,39.8,35.0